<table class="text-center" style="margin: 20px;">
    <thead>
        <tr>
            <td colspan="5">
                <div class="text-center" style="padding:10px 9px 2px">
                    <a ng-click="toggleMode()" class="btn btn-link" style="width:100%"><span class="glyphicon glyphicon-calendar"></span></a>
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a ng-click="time.incrementHours()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
            <td>&nbsp;</td>
            <td><a ng-click="time.incrementMinutes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
            <td>&nbsp;</td>
            <td ng-show="time.showMeridian"></td>
        </tr>
        <tr>
            <td style="width:50px;"  class="form-group" ng-class="{'has-error': time.invalidHours}">
                <input style="width:50px;" type="text" ng-model="time.hours" data-part="hour" ng-change="time.updateHours()" class="form-control text-center" ng-mousewheel="time.incrementHours()" ng-readonly="time.readonlyInput" maxlength="2">
            </td>
            <td style="width:50px;">:</td>
            <td style="width:50px;" class="form-group" ng-class="{'has-error': time.invalidMinutes}">
                <input style="width:50px;" type="text" ng-model="time.minutes" data-part="minute" ng-change="time.updateMinutes()" class="form-control text-center" ng-readonly="time.readonlyInput" maxlength="2">
            </td>
            <td style="width:20px;">&nbsp;</td>
            <td style="width:50px;" ng-show="time.showMeridian" ><button type="button" class="btn btn-primary text-center" ng-click="time.toggleMeridian()">{{time.meridian}}</button></td>
        </tr>
        <tr class="text-center">
            <td><a ng-click="time.decrementHours()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
            <td>&nbsp;</td>
            <td><a ng-click="time.decrementMinutes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
            <td>&nbsp;</td>
            <td ng-show="time.showMeridian"></td>
        </tr>
    </tbody>
</table>